*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("back4.jpeg");
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;

}
.nav-area {
    float: right;
    list-style-type:none;
    margin-top: 30px;

}
.nav-area li {
    display: inline-block;
}
.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 20px;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}
.logo img{
    width: 80px;
    height: 80px;
    float: left;
}
.welcome-text {
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 15% 45%;
    text-align: center;

}
.welcome-text h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.welcome-text h1 a {
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-decoration: none;
}
.button-structure button {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    background-color: transparent;
   

}
.button-structure button:hover{
    background: #fff;
    color: #333;
} 
