.bg-nav{
    background: #ff0084;
    background: -webkit-linear-gradient(to right, #33001b,#ff0084);
    background: linear-gradient(to right,#33001b,#ff0084);
}


.mt-100{
    margin-top: 100px;
}

#cardmt100{
    background-color: black;
}