<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About </title>
</head>
<body >
    <h1 style="text-align: center;" >Digital Signature</h1><br>
    <h3>Welcome to Digital Signature</h3>
    <p>Our Website generates Digital Signature for a teacher and also verifies for the student that the digital Signature sent to be is sent by a rightful host.</p>
       <b><i> Instruction for teacher:-</i></b><br>
       <ul >
        <li>click on the generation button and sign up if you are a new user else login with your credentials.</li><br>
        <li> you sign up for the first time you will receive a private key corresponding to your account which is meant to be kept confidential by the user.</li><br>
        <li>Now the user will be directed to the page where they can create a Digital Signature corresponding to any file they want,</li><br>
       <li> The user need to provide the file and private key, a Digital Signaturewill be created corresponding to that file which is unique</li><br>
        <li>The user can now share their file to anyone along with the Digital Signature so that person can validate and check that if any discripense is there in the file provided with the original file</li>
        </ul>
        <b><i>Instruction for student:-</i></b><br>
        <ul>
        <li>user need not to sign up, they can directly go to the verification page by clicking on the verification button</li><br>
        <li>There the user can provide with the Digital signature and the file you received and click the submit button</li><br>
        <li>A message will be displayed indicating whether the file is manipulated by the third party or not.</li><br>

</ul>
    
    <!-- <ul style="display: table;margin: 0 auto;">
        <li > to gives Points as point 1</li>
        <li > to gives Points as point 2 and point 3</li>

    </ul> -->
</body>
</html>