<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Home Page</title>
    <script src="../static/css/entry.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/entry.css" >
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="../static/css/PesuLogo.png" alt="PES Logo">
            </div>

            <ul class="nav-area">
                <li><a href="#"><b><u>Home</u></b></a></li>
                <li><a href="#"><b><u>About </u></b></a></li>
                <li><a href="#"><b><u>Contact Us</u></b></a></li>
            </ul>
            </div>

            <div class="welcome-text">
                <h1>
                    <a href="" class="typewrite" data-period="2000" data-type='[ "Hello !! Welcome to our Website", "A Teacher?- May move to Generating. ", "A Student?-Please Verify .", "Thank You For Visiting.","Stay Home, Stay Safe" ]'>
                      <span class="wrap"></span>
                    </a>
                  </h1>
                  <br><br><br>
                  <div class="button-structure">
                      <form>
                  <button type="submit" formaction="http://127.0.0.1:3001/login">Generation</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button href="submit" formaction="http://127.0.0.1:3001/verification/">Verification</button>
                  </form>
            </div>
            </div>


    </header>
</body>
</html>