<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" >
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form  class="box" method="POST">
                        <h1>Login</h1>
                        {% if error %}
                        <p class="error" style="color: red;"><strong>Error:</strong> {{ error }}</p>
                    {% endif %}      
                        <p class="text-muted"> Please enter your login and password!</p>
                         <input type="email" name="log_name" placeholder="Username">
                         <input type="password" name="log_pass" placeholder="Password"> 
                          <p style="color: #fff;">Not a Member?</p>><a class="forgot text-muted" href="/register">Create Account</a> 
                          <input type="submit" name="submit_btn" value="Login" >
                        <div class="col-md-12">
                            <ul class="social-network social-circle">
                                <li><a href="#" class="icoFacebook" title= "Facebook"><i class="fa fa-facebook"></i></a></li>

                                <li><a href="#" class="icoTwitter" title= "Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>